html,body{height:80%;}
body{font:bold large;font-family:"Trebuchet MS","Century Gothic";text-align:center;background-color:#27408B;margin:0;padding:0;}
div#distance{margin-bottom:-13em;width:1px;height:0;float:left;}
div#content{text-align:center;position:relative;height:23em;width:40em;clear:left;background-color:#FFF;margin:0 auto;}
p{font-size:48px;font-style:italic;letter-spacing:-2px;color:#27408B;margin:0;padding:30px 0 0 30px;}
.smaller{font-size:20px;letter-spacing:0px;}
a{
	text-decoration:none;
	color:#5795D2;
}
a:hover{
	text-decoration:none;
	color:#FFF;
}
#footer{color:#FFF;}